{{ define "main" }}
    {{ partial "page-header" . }}

    <article class="gdoc-markdown">
        <h1>{{ partial "title" . }}</h1>
<div class="gdoc-post__date">
            <svg class="icon gdoc_date"><use xlink:href="#gdoc_date"></use></svg>
            <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                {{ if ne (.Lastmod.Format "2006-01-02") (.Date.Format "2006-01-02") }}
                Updated on
                {{ end }}
                {{ .Lastmod.Format "Jan 2, 2006" }}
            </time>
        </div>

        {{ partial "content" . }}
    </article>
{{ end }}
