<!-- intro banner on list pages -->
<div class = 'intro'>
  <div class = 'intro_inner'>
    <div>{{ partial "audio" . }}</div>
    <section>
      <!-- <h1 class = 'intro_headline'>{{ .Title }}</h1> -->
      <p class = 'intro_desc'>{{ .Description }}</p>
    </section>
  </div>
</div>
